<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
	<HeadOutlet @rendermode="InteractiveServer" />
	<title>Tedu Admin Portal</title>
</head>
<body>
	<Routes @rendermode="InteractiveServer" />
	<script src="_framework/blazor.web.js"></script>
	<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>
